{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
               <div id="hero-image"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Popular now section-->
<section class="pt-5 bg-light">
    <div class="container px-4 px-lg-5 pb-5">
        <h2 class="mb-4 text-center showcase-caps">Popular Now</h2>
        <div class="row mb-1">
            <!-- Flickity carousel -->
            <div class="carousel" data-flickity='{ "wrapAround": "true", "imagesLoaded": "true" }'>
                {% include 'products/includes/product_carousel.html' %}
            </div>
            <!--End Flickity carousel-->

{% endblock %}
<!--<section>
 <h2 style="text-align: center;"> Browse our latest products</h2>
    <div id="collections-row">
        <div class="collections-column">
            <img src="/media/islington.jpeg" alt="Christmas Tree" style="width:33%">
            <p>Islington 7ft Christmas Tree</p>
            <p>€210.00</p>
          </div>
          <div class="collections-column">
            <img src="/media/skiiing_snowman_globe.jpeg" alt="Snowglobe" style="width:33%">
            <p>Skiing Snowmen Snowglobe</p>
            <p>€14.00</p>
          </div>
          <div class="collections-column">
            <img src="/media/red_festive_train.jpeg" alt="Red train christmas bauble" style="width:33%">
            <p>Red Train Tree Ornament</p>
            <p>€3.00</p>
          </div>
    </div>
</section>->

<!-shop now button
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-6 col-md-3 my-auto">
                <h1 class="display-4 logo-font text-white">
                </h1>
                <div class="my-5"></div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>-->


