{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
               <div id="hero-image"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--Image Row-->
<h2 style="text-align:center;">Shop the collections</h2>

<div class="images-row">
  <div class="images-row-column">
    <a href="{% url 'products' %}?category=ornaments">
      <img src="https://snowflakes-christmas-shop.s3.amazonaws.com/media/pink_butterfly.jpeg" alt="Pink butterfly tree ornaments" style="width:100%">
      <div class="images-text">Tree Ornaments</div>
    </a>
  </div>
  <div class="images-row-column">
    <a href="{% url 'products' %}?category=trees">
      <img src="https://snowflakes-christmas-shop.s3.amazonaws.com/media/kelford_flocked.jpeg" alt="Kelford Flocked Christmas Tree" style="width:100%">
      <div class="images-text">Christmas Trees</div>
    </a>
  </div>
  <div class="images-row-column">
    <a href="{% url 'products' %}?category=wreaths">
      <img src="https://snowflakes-christmas-shop.s3.amazonaws.com/media/blush_wreath.jpeg" alt="Rose Blush colored Door Wreath" style="width:100%">
      <div class="images-text">Door Wreaths</div>
    </a>
  </div>
</div>
{% endblock %}
