#hero-image{
  background: url('/media/cosy_christmas_hero.png') no-repeat center center fixed;
  background-size: cover; 
  height: calc(100vh - 164px);
}

.collections-column {
    float: left;
    width: 33.33%;
    padding: 25px;
  }
  
  /* Clearfix (clear floats) */
  .collections-row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 500px) {
    .collections-column {
      width: 100%;
      margin-left: 50%;
    }
  }
