<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indoor Decorations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=trees" class="dropdown-item">Trees</a>
                <a href="{% url 'products' %}?category=ornaments" class="dropdown-item">Ornaments</a>
                <a href="{% url 'products' %}?category=snowglobes" class="dropdown-item">Snowglobes</a>
                <a href="{% url 'products' %}?category=trees,ornaments,snowglobes" class="dropdown-item">All Indoor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoor Decorations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=lights" class="dropdown-item">Lights</a>
                <a href="{% url 'products' %}?category=wreaths" class="dropdown-item">Wreaths</a>
                <a href="{% url 'products' %}?category=lights,wreaths" class="dropdown-item">All Outdoor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blogs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Christmas Styling</a>
                <a href="{% url 'blog' %"} class="dropdown-item">Find a Christmas Bargain</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Hosting a Christmas Party/a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item"></a>
            </div>
        </li>
    </ul>
</div>