{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container hdr-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad mt-2 mb-5">
        <div class="row">
            <!-- Add Blog Title-->
            <div class="col-12 col-md-6 h-100">
                <h2 class="fw-bold mb-4 display-6">Post</h2>
                <h6 class="text-muted">Add a Blog Post</h6>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <!-- Add blog post form -->
                <form method="POST" action="{% url 'add_blog_post' %}" class="form mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <!-- Add blog post and cancel buttons -->
                    <div class="inline-flex-pos float-end mt-3">
                        <a class="btn rounded-2 btn-outline-dark py-2" href="{% url 'blog' %}">Cancel</a>
                        <button class="btn rounded-2 btn-text text-capitalize py-2 btn-bg-col" type="submit">Add Blog
                            Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        $('#id-image').change(function () {
            var file = $('#id-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}